@import "select2/dist/css/select2.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100% !important;
}

@media screen and (min-width: 480px) {
    .select2-container {
        width: 100% !important;
    }
}

.select2-container--default .select2-selection--single  {
    background-color: #FFFFFF99 !important;
    color: black;
    height: 48px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #da0000;
    color: white;
    border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice button {
    color: white;
    border: none;
}
