.left-sidebar-bg {
    background-color: red;
}

.selectWrapper{
    border-radius:6px;
    display:inline-block;
    overflow:hidden;
    /* background:#cccccc; */
    /* border:1px solid #cccccc; */
    
  }
.selectWrapper .select2-container .select2-selection--single {
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.selectWrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px;
}
  .selectBox{
    width: 100%;
    /* border:0px; */
    outline:none;
  }